<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.model.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level_id" jdbcType="SMALLINT" property="levelId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="first_device_id" jdbcType="INTEGER" property="firstDeviceId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_at" jdbcType="INTEGER" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level_id, nickname, first_device_id, status, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>